{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

     {% if items | length > 0 %}
         <table class="table">
             <thread>
                 <th>Produit</th>
                 <th>Quantité</th>
                 <th>Prix</th>
                 <th>Total</th>
                 <th></th>
             </thread>
             {% for item in items %}
             <tbody>

                    <td>{{ item.product.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.product.price * item.quantity }}</td>
                    <td>
                        <a href="{{ path('remove_panier',{'id':item.product.id} ) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>

             </tbody>
             {% endfor %}
             <tfoot>
                <td colspan="3" class="text-right ">Total: </td>
                <td>{{ total }}</td>
                <td></td>
             </tfoot>
         </table>
    {% else %}
        <p>Surprise, c'est vide !</p>
    {% endif %}

{% endblock %}
